<div class="project card">
    <div class="card-body">
        {%- if img -%}
            <img class="card-img-top" src="{{ img }}" alt="{{ title }}" />
        {%- endif -%}
        <h5 class="card-title text-center">
            {%- if url -%}
                <a href="{{ url }}" target="_blank"><i class="{{ urltype }}"></i></a> |&nbsp;
            {%- endif -%}
            {{ title }}
        </h5>
        <p class="card-text">{{ desc }}</p>
        <p class="card-text">
            {%- for tool in tags -%}
            <a href="{{site.search.perma}}?{{site.search.key}}={{ tool }}" class="badge badge-pill text-light bg-primary border-primary ml-1">
                {{ tool }}
            </a>
            {%- endfor -%}
        </p>
    </div>
</div>
