<div class="col"> 
    <div class="project card">
        {%- if img and name-%}
            <img class="card-img-top" src="{{ img }}" alt="{{ name }}" />
        {%- endif -%}
        <div class="card-body">
            <h5 class="card-title text-center">
                {%- if url -%}
                    <a href="{{ url }}" target="_blank"><i class="{{ urltype }}"></i></a> |&nbsp;
                {%- endif -%}
                {{ title }}
            </h5>
            <!--<h6 class="date text-center">{{ date }}</h6>-->
            <p class="card-text">{{ desc }}</p>
            <p class="card-text">
                {%- for tool in tags -%}
                <a href="{{site.search.perma}}?{{site.search.key}}={{ tool }}" class="badge rounded-pill text-light bg-primary {% if tagclass%} {{tagclass}} {% else %} border-primary ms-1 {% endif %}">
                    {{ tool }}
                </a>
                {%- endfor -%}
            </p>
        </div>
    </div>
</div>
