// Variables
$rounded-borders: 15px;

.project.card {
    border-radius: $rounded-borders;
    text-decoration: none !important;
//    margin: 10px auto;
}

a.project.card:hover {
    box-shadow: 0 0 5px $primary;
}

.card-text a {
    text-decoration:none;
    &:hover {
        background-color: $primary !important;
        color: $black !important;
    }
}

.card-title a {
    &:hover {
        color: #0000ff !important;
    }
}

#search-triggerr {
    display: none;
  }
  
#search-wrapper {
    display: flex;
    //max-width: 589 px;
    //width: 100%;
    border-radius: 0.5rem;
    border: 1px solid black;
    background: grey;
    //padding: 0 0.5rem;
    margin: 0.5em 0 !important;
}

#search-input {
    background: center;
    border: 0;
    border-radius: 0;
    margin: 0.1em 0.3em;
    color: white;
    height: auto;
    cursor: pointer;
    &:focus {
      box-shadow: none;
      background: lightgrey;
      }
}

button#search-input{
    color: black;
    &:hover {
        color: $primary;
    }
}

.posts{
    list-style-type: none;
}

.posts .badge{
    text-decoration: none;
    &:hover {
        background-color: #fed136 !important;
        color: #000 !important;
      }
}

.posts .title{
    text-decoration:none;
    color: blue;
    &:hover {
        //background-color: $primary !important;
        color: $primary !important;
    }
}

.resume {
    li {
        list-style-type: none;

    }
    a {
    text-decoration:none;
    color: blue;
    &:hover {
        //background-color: $primary !important;
        color: $primary !important;
        }
    }
}

