---
---
@charset "utf-8";
// Core variables and mixins
@import "base/variables.scss";
@import "base/mixins.scss";

// Custom colors
$primary: {{ site.style.highlight | default: "#fed136" }} !default;
$secondary: "#0000ff" !default;
$white: {{ site.style.white | default: '#fff' }} !default;
$black: {{ site.style.black | default: "#000" }} !default;

// Custom Images
$header-image: "{{ site.style.header-image }}" ;
$contact-image: "{{ site.style.contact-image }}" ;

// Global CSS
@import "base/page.scss";

// Components
@import "components/buttons.scss";
@import "components/navbar.scss";
@import "components/client-scroll.scss";
@import "projects.scss";
@import "markdown.scss";

// Layout
@import "layout/masthead.scss";
@import "layout/timelinex.scss";
@import "layout/footer.scss";
